*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body.page {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    background-color: #1b1919;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    color: #fff;
    display: flex;
}

h1, h2, h3, h4, p,
ul, ol, li,
blockquote, fieldset {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}

img {
    display: block;
    object-fit: cover;
}

.content {
    width: 1140px;
    height: 534px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    gap: 30px;
}

.result__video-container {
    width: 711px;
    margin-bottom: 11px;
    position: relative;
}

.result__video {
    width: 100%;
    height: auto;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.search-form__fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.search-form__fieldset-title {
    font-size: 18px;
    font-weight: 400;
    font-family: "Fira Sans Condensed";
}

.search-form__label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

.search-form__label-text:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid #fff;
    outline-offset: 2px;
}

.search-form__textfield {
    width: 225px;
    height: 27px;
    padding: 2px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: none;
    border-right: none;
    background: transparent;
    font: inherit;
    color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
    outline: none;
}

.search-form__checkbox-list {
    display: flex;
    gap: 15px;
}

.search-form__pseudo-checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form__pseudo-checkbox::after {
    content: "";
    width: 16px;
    height: 16px;
    background: transparent;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    background: #fff;
}

.button {
    font-family: "Fira Sans Condensed";
    font-weight: 700;
    font-size: 18px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    text-decoration: underline;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 2px;
}

.button:active {
    background-color: #545050;
}

.search-form__submit-button {
    width: 194px;
    height: 34px;
    border: 1px solid #fff;
}

.content__details {
    display: flex;
    flex-direction: column;
    gap: 26px;
    height: 100%;
}

.title {
    font-family: "Oswald";
    font-size: 75px;
    line-height: 94%;
    font-weight: 700;
    text-transform: uppercase;
}

.content__accent {
    color: #545050;
}

.content__list-container {
    height: 298px;
    overflow-y: auto;
    position: relative;
}

.content__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content__list-item {
    display: block;
}

.content__card-link {
    color: #fff;
    text-decoration: none;
    display: block;
}

.content__card-link:hover {
    text-decoration: underline;
}

.content__card-link:focus {
    outline: none;
}

.content__card-link:active,
.content__card-link_current {
    background-color: #545050;
}

.content__card-link:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 2px;
}

.content__video-card {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.content__video-card-thumbnail {
    width: 194px;
    height: 103px;
}

.content__video-card-description-container {
    flex-grow: 1;
}

.content__video-card-title {
    font-size: 30px;
    font-family: "Oswald";
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 2px 5px;
}

.content__video-card-description {
    font-size: 18px;
    line-height: 1.1;
    padding: 0 2px;
    width: 200px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.more-button {
    width: 100%;
    height: 34px;
    border: 1px solid #fff;
    background: transparent;
}
